<div class="tab-content">
  <div
    class="tab-pane active show"
  >
    <Forms::EventInstance
      @eventInstance={{this.eventInstance}}
      @eventSeries={{this.eventSeries}}
      @businessTypes={{this.businessTypes}}
      @mode="edit"
      @selectTab="selectTab"
    />
  </div>
</div>
