<div class="container-fluid page-body-wrapper full-page-wrapper auth">
  <div class="main-panel login">
    <div class="content-wrapper d-flex align-items-center px-0">
      <div class="auth-form-light text-left py-5 px-4 px-sm-5 mx-auto">
        <div class="brand-logo auth__logo mb-5">
          <img src="/img/logo.png" alt="Highstreet.ly">
        </div>
        <h4>Thanks for confirming your email address!</h4>
        <h6 class="font-weight-light">You can now <LinkTo @route="login" class="auth-link">sign in here</LinkTo></h6>
      </div>
    </div>
  </div>
</div>