<div class="card">
  <div class="card-body">

    <ActionBar @position="top" />

    <div class="position-relative">
      {{outlet}}
    </div>

    <ActionBar @position="bottom" />

  </div>
</div>
