<div class="row">
    <div class="col-md-12 grid-margin">
        <div class="row">
            <div class="col-12 col-xl-12">
                <div class="d-flex align-items-center justify-content-between flex-wrap">
                    <div class="border-right pr-4 mb-3 mb-xl-0">
                        <p class="text-muted">Balance</p>
                        <h4 class="mb-0 font-weight-bold">£40079.60</h4>
                    </div>
                    <div class="border-right pr-4 mb-3 mb-xl-0">
                        <p class="text-muted">Today’s orders</p>
                        <h4 class="mb-0 font-weight-bold">175</h4>
                    </div>
                    <div class="border-right pr-4 mb-3 mb-xl-0">
                        <p class="text-muted">This months orders</p>
                        <h4 class="mb-0 font-weight-bold">4006</h4>
                    </div>
                    <div class="pr-3 mb-3 mb-xl-0">
                        <p class="text-muted">Total tickets sold</p>
                        <h4 class="mb-0 font-weight-bold">4006</h4>
                    </div>
                    <div class="mb-3 mb-xl-0">
                        <button type="button" class="btn btn-warning rounded-0 text-white" {{on 'click' this.addTicketTier}}>Create New Ticket Tier</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>